.button {
	-fx-font-size: 2em;
	-fx-text-fill: #0D0D0D;
	-fx-background-color: #B3C8F2;
}

#operacion{
	-fx-background-color: #5684BF;
	-fx-text-fill: #B3C8F2;
}

#tfl {
	-fx-font-size: 3.3em;
	-fx-display-caret: false;
	-fx-text-fill: #5684BF;
}

#panel {
}