.button {
	-fx-font-size: 2em;
	-fx-text-fill: #0699F0;
	-fx-background-color: #292929;
	-fx-border-color: #0699F0;
}

.button:hover {
	-fx-text-fill: #292929;
	-fx-background-color: #0699F0;
}

#panel{
	-fx-background-color: #292929;
}

#operacion{
	-fx-text-fill: #0699F0;
	-fx-background-color: #292929;
}

#operacion:hover{
	-fx-text-fill: #292929;
	-fx-background-color: #0699F0;
}

#tfl {
	-fx-font-size: 6em;
	-fx-display-caret: false;
	-fx-text-fill: #0699F0;
	-fx-background-color: #292929;
}

.root{
	-fx-background-color: red;
}
